*.are	diff=gff
*.ARE	diff=gff
*.git	diff=gff
*.GIT	diff=gff
*.gic	diff=gff
*.GIC	diff=gff
*.ifo	diff=gff
*.IFO	diff=gff
*.bic	diff=gff
*.BIC	diff=gff
*.dlg	diff=gff
*.DLG	diff=gff
*.utc	diff=gff
*.UTC	diff=gff
*.uti	diff=gff
*.UTI	diff=gff
*.utp	diff=gff
*.UTP	diff=gff
*.utw	diff=gff
*.UTW	diff=gff
*.utm	diff=gff
*.UTM	diff=gff
*.uen	diff=gff
*.UEN	diff=gff
*.utt	diff=gff
*.UTT	diff=gff
*.upe	diff=gff
*.UPE	diff=gff
*.ult	diff=gff
*.ULT	diff=gff
*.utd	diff=gff
*.UTD	diff=gff
*.uts	diff=gff
*.UTS	diff=gff
*.usc	diff=gff
*.USC	diff=gff
*.utr	diff=gff
*.UTR	diff=gff
*.GFF	diff=gff
*.fac	diff=gff
*.FAC	diff=gff
*.jrl	diff=gff
*.JRL	diff=gff
