<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabasePassword" value="rL6P2GNL2X4we3A"/>
    <add key="DatabaseSchema" value="alandsyu_live"/>
    <add key="DatabaseServer" value="localhost"/>
    <add key="DatabasePort" value="3310"/>
    <add key="DatabaseUser" value="alandsyu_live"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
