<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabasePassword" value="" />
    <add key="DatabaseSchema" value="" />
    <add key="DatabaseServer" value="" />
    <add key="DatabasePort" value="3306" />
    <add key="DatabaseUser" value="" />
  </appSettings>
</configuration>