<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeploymentTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeploymentTool.Properties.Settings>
            <setting name="PatchURL" serializeAs="String">
                <value>http://foam.rp-addict.com/tmp/patch.xml</value>
            </setting>
            <setting name="NWN2InstallPath" serializeAs="String">
                <value>D:\Games\Neverwinter Nights 2</value>
            </setting>
            <setting name="NWN2HomePath" serializeAs="String">
                <value>C:\Users\Divayth\Documents\Neverwinter Nights 2</value>
            </setting>
            <setting name="ModuleName" serializeAs="String">
                <value>alfa_buildmod_01_build</value>
            </setting>
            <setting name="NWNX4Path" serializeAs="String">
                <value>D:\Games\Neverwinter Nights 2\nwnx4</value>
            </setting>
        </DeploymentTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
