<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALFAIRCBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ALFAIRCBot.Properties.Settings>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerHostname" serializeAs="String">
                <value>irc.sorcery.net</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="HomeChannels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#alfa-tech</string>
                        <string>#alfa-players</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NickservPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="BingAppID" serializeAs="String">
                <value />
            </setting>
            <setting name="PageFromPlayerName" serializeAs="String">
                <value>IRCBot</value>
            </setting>
            <setting name="BingApplicationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCGatewayID" serializeAs="String">
                <value>0</value>
            </setting>
        </ALFAIRCBot.Properties.Settings>
    </userSettings>
</configuration>
